<table class="table table-striped">
  <thead class="text-center">

<!--  <th>Id</th>-->
    <th>Category</th>
    <th>Collection Id</th>
    <th>Title</th>
    <th>Slug</th>
    <th>Amount</th>


  </thead>

  <tbody class="text-center">
  <% @collections.each do |collection| %>

    <tr>

<!--      <td> <%#= collections.id %> </td>-->
      <td> <%= collection.category %> </td>
      <td> <%= collection.external_collection_id %> </td>
      <td> <%= collection.title %> </td>
      <td> <%= collection.slug %> </td>
      <td> <%= format_amount( collection.amount )%> </td>


    </tr>

  <% end %>

  </tbody>

<!--  <tfoot class="text-center fw-bold bg-info bg-gradient">-->
<!--    <tr>-->
<!--      <td colspan='5'>Sum of donates</td>-->

      <%#
<!--        sum = 0-->
<!--        @collections.each do |c|-->
<!--          sum += c.amount.to_d-->
<!--        end-->
      %>

<!--      <td> <%#= format_amount(sum) %></td>-->

<!--    </tr>-->
<!--  </tfoot>-->

</table>